{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "taro/react",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "standard",
    "prettier",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-void": "off"
  },
  "env": {
    "jest/globals": true
  },
  "overrides": [
    {
      "files": [
        "packages/**/*.test.tsx",
        "packages/**/*.test.js"
      ],
      "rules": {
        "react/react-in-jsx-scope": "off",
        "react/no-find-dom-node": "off",
        "no-unused-vars": [
          "error",
          {
            "varsIgnorePattern": "Nerv"
          }
        ]
      }
    }
  ]
}
