{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".tsx"] }
    ],
    "no-shadow": 0
  },
  "globals": {
    "describe": true,
    "beforeEach": true,
    "it": true,
    "expect": true
  },
  "parser": "babel-eslint"
}
