{
  "extends": [
    "taro/react",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "standard-with-typescript",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-void": "off"
  },
  "env": {
    "jest/globals": true
  },
  "overrides": [
    {
      "files": [
        "packages/**/*.test.tsx",
        "packages/**/*.test.js"
      ],
      "rules": {
        "react/react-in-jsx-scope": "off",
        "react/no-find-dom-node": "off",
        "no-unused-vars": [
          "error",
          {
            "varsIgnorePattern": "Nerv"
          }
        ]
      }
    }
  ]
}
