.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption {
  font-size: 12px;
  line-height: 1.5;
  color: #333;
  text-align: center;
  margin: 20px 0 10px;
}
